.default{
    cursor: default;
}
.none{
    cursor: none;
}
.pointer{
    cursor: pointer;
}
.help{
    cursor: help;
}
.wait{
    cursor: wait;
}
.text{
    cursor: text;
}
.progress{
    cursor: progress;
}
.zoomin{
    cursor:zoom-in;
}
.zoomout{
    cursor: zoom-out;
}
.auto{
    cursor: auto;
}
.crosshair{
    cursor: crosshair;
}
.url{
    cursor: url(../_imagens/icon-close.svg);
}
.primeira, .segunda, .terceira{
    width: 30%;
    display: inline-block;
    border: 2px double black;
}
h1{
    text-align: center;
}
.imagem{
    cursor: auto;
    width: 50px;
    height: auto;
}