.primeira{
    border-left: 5px;
    border-top: 5px;
    border-right: 5px;
    border-bottom: 5px;
    border-style: solid;
    background-color: orange;
    border-color: orange;
    list-style-type: upper-roman;
    margin: auto;
}
.segunda{
    border-left: 5px;
    border-top: 5px;
    border-right: 5px;
    border-bottom: 5px;
    border-style: solid;
    background-color: lightblue;
    border-color: blue;
    list-style-type: square;
    margin: auto;
}
#texto1{
    background-color: lightsalmon;
}
